{% trans_default_domain 'sfs_mailer_bundle' %}
{% extends '@SfsMailer/admin_layout.html.twig' %}

{% block content %}
    <div class="d-flex align-items-center justify-content-between mb-4">
        <h1 class="h3">Templates</h1>
    </div>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">{{ 'templates.fields.id.header'|trans }}</th>
            <th scope="col">{{ 'templates.fields.name.header'|trans }}</th>
            <th scope="col">{{ 'templates.fields.twigTemplate.header'|trans }}</th>
            <th scope="col"></th>
        </tr>
        </thead>

        <tbody>
        {% for template in templates %}
            <tr>
                <td>{{ template.id|trans }}</td>
                <td>{{ template.name }}</td>
                <td>{{ template.twigTemplate }}</td>
                <td class="actions" align="right">
                    <a href="{{ url('sfs_mailer_templates_test', {'templateId':template.id}) }}" class="text-nowrap">details <span class="mdi mdi-18px mdi-eye-outline align-middle"></span></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}