{% trans_default_domain 'sfs_mailer_bundle' %}
{% extends '@SfsMailer/admin_layout.html.twig' %}

{% block title %}{{ 'admin.templates.list.header_title'|trans }}{% endblock title %}

{% block content %}
    <div class="d-flex align-items-center justify-content-between mb-4">
        <h1 class="h3">{{ 'admin.templates.list.title'|trans }}</h1>
    </div>

    {% embed '@SfsAdmin/components/table.html.twig' with {'collection':templates} %}
        {% trans_default_domain 'sfs_mailer_bundle' %}
        {% block ths %}
            <th scope="col">{{ 'admin.templates.list.table.id.header'|trans }}</th>
            <th scope="col">{{ 'admin.templates.list.table.name.header'|trans }}</th>
            <th scope="col">{{ 'admin.templates.list.table.twigTemplate.header'|trans }}</th>
            <th scope="col"></th>
        {% endblock ths %}

        {% block tbody %}
            {% for template in templates %}
                <tr>
                    <td>{{ template.id|trans }}</td>
                    <td>{{ template.name }}</td>
                    <td>{{ template.twigTemplate }}</td>
                    <td class="actions text-right">
                        <a href="{{ url('sfs_mailer_templates_test', {'templateId':template.id}) }}" class="text-nowrap">{{ 'admin.templates.list.table.test.link'|trans }} <span class="mdi mdi-18px mdi-eye-outline align-middle"></span></a>
                    </td>
                </tr>
            {% endfor %}
        {% endblock tbody %}
    {% endembed %}
{% endblock content %}