{% trans_default_domain 'sfs_mailer' %}
{% extends '@SfsMailer/admin_layout.html.twig' %}

{% block breadcrums_content %}
    {{ parent() }}
    <li class="breadcrumb-item">Mails</li>
    <li class="breadcrumb-item"><a href="{{ url('sfs_mailer_templates_search') }}">Templates</a></li>
    <li class="breadcrumb-item active" aria-current="page">Test template</li>
{% endblock breadcrums_content %}

{% block content %}
    <div class="d-flex align-items-center justify-content-between mb-4">
        <h1 class="h3">{{ (template.id~'.name')|trans }}</h1>
    </div>

    {{ form_start(form) }}
    <div class="row">
        <div class="col">
            {{ form_row(form.toName) }}
        </div>
        <div class="col">
            {{ form_row(form.toEmail) }}
        </div>
        <div class="col">
            {{ form_row(form.locale) }}
        </div>
    </div>

    <div class="row">
        <div class="col-6 offset-3">
            {{ form_widget(form) }}
            <input type="submit" value="send" class="btn btn-primary"/>
        </div>
    </div>


    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock content %}