{% trans_default_domain 'sfs_mailer' %}
{% extends '@SfsMailer/admin_layout.html.twig' %}

{% block title %}{{ 'admin_templates.list.header_title'|trans }}{% endblock title %}

{% block breadcrums_content %}
    {{ parent() }}
    <li class="breadcrumb-item">Mails</li>
    <li class="breadcrumb-item active" aria-current="page">Templates</li>
{% endblock breadcrums_content %}

{% block content %}
    <div class="d-flex align-items-center justify-content-between mb-4">
        <h1 class="h3">{{ 'admin_templates.list.title'|trans }}</h1>
    </div>

    {% embed '@SfsAdmin/components/table.html.twig' with {'collection':templates, 'classes' : 'table-striped table-hover row-link', 'pagination_route': false} %}
        {% trans_default_domain 'sfs_mailer' %}
        {% block ths %}
            <th scope="col">{{ 'admin_templates.list.table.name.header'|trans }}</th>
            <th scope="col">{{ 'admin_templates.list.table.description.header'|trans }}</th>
            <th scope="col"></th>
        {% endblock ths %}

        {% block tbody %}
            {% for template in templates %}
                <tr {% if template.preview %}data-href="{{ url('sfs_mailer_templates_preview', {'template': template.id}) }}"{% endif %}>
                    <td>{{ (template.id~'.name')|trans }}</td>
                    <td>{{ template.description|default((template.id~'.description')|trans) }}</td>
                    <td class="actions text-right">
                        {% if template.preview %}
                            <a href="{{ url('sfs_mailer_templates_preview', {'template':template.id}) }}" class="text-nowrap">{{ 'admin_templates.list.table.preview.link'|trans }} <span class="mdi mdi-18px mdi-eye-outline align-middle"></span></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% endblock tbody %}
    {% endembed %}
{% endblock content %}