{% trans_default_domain 'sfs_mailer' %}
{% extends '@SfsMailer/admin_layout.html.twig' %}

{% block breadcrums_content %}
    {{ parent() }}
    <li class="breadcrumb-item">Mails</li>
    <li class="breadcrumb-item"><a href="{{ url('sfs_mailer_history_search') }}">Mail history</a></li>
    <li class="breadcrumb-item active" aria-current="page">Mail details</li>
{% endblock breadcrums_content %}

{% block content %}
    <div class="d-flex align-items-center justify-content-between mb-4">
        <h1 class="h3">Template: {{ mail.templateId }}</h1>
    </div>
    <p>{{ mail.messageSubject }}</p>
    <p>{{ mail.messageTo|keys|join(',') }}</p>
    <p>{{ mail.messageFrom|keys|join(',') }}</p>
    <p>{{ mail.messageDate|date('H:i d-m-Y') }}</p>
    <p>{{ ('message.status.values.'~mail.status)|trans }}</p>

    {#<p>{{ mail.messageBodyText }}</p>#}
    <div class="border p-3 bg-light">{{ mail.messageBodyHtml|raw }}</div>
{% endblock content %}